language: php

php:
  - 5.4
  - 5.5

before_script:
  - touch /tmp/redsql.db
  - mysql -e 'create database redsql;'
  - psql -c 'create database redsql;' -U postgres
  - composer self-update
  - composer require satooshi/php-coveralls:dev-master --no-update --dev
  - composer install --dev --prefer-source
  - cd vendor/gabordemooij/redbean/ && php replica.php && cd -

after_script:
  - php vendor/bin/coveralls